[2017-11-20 18:27] Bouncey opened #1 "Update document title"

[2017-11-20 18:27] Bouncey opened #2 "Add meta tags"

[2017-11-20 18:28] Bouncey opened #3 "Twitter Cards"

[2017-11-20 18:28] Bouncey opened #4 "Facebook Comments for articles"

[2017-11-20 18:29] Bouncey opened #5 "General Article formatting"
* centre images
* Hero image
* code syntax highlighting

[2017-11-20 18:31] Bouncey opened #6 "Make index page tiles responsive"

[2017-11-20 18:32] Bouncey opened #7 "Add AMP support"

[2017-11-20 18:32] Bouncey opened #8 "Update README"

[2017-11-20 18:33] Bouncey opened #9 "Update Licence"
BSD-3-Clause

[2017-11-20 21:42] QuincyLarson opened #10 "Add searchbox"
Search should be weighted in favor of News articles as opposed to Guide articles.

[2017-11-20 22:06] Bouncey commented on #1
resolved

[2017-11-20 22:06] #1 closed

[2017-11-20 22:09] QuincyLarson opened #11 "View count and # of people viewing"

[2017-11-20 22:10] QuincyLarson opened #12 "Build task to optimize and copy new images to repo"

[2017-11-20 22:11] QuincyLarson opened #13 "Similar articles for each article, populated by a build task"

[2017-11-20 22:12] QuincyLarson opened #14 "Browser notifications when new resources are published"

[2017-11-20 22:13] QuincyLarson opened #15 "Bot that comments on PR saying things like "10,000 people have viewed this""

[2017-11-20 22:19] QuincyLarson opened #16 "Programmatic tweeting/FB/LinkedIn sharing of accepted pull requests through Buffer"
Documentation: https://buffer.com/developers/api

[2017-11-20 22:24] QuincyLarson opened #17 "Update navigation to look like freeCodeCamp.org navbar, but without signin option"

[2017-11-20 22:26] QuincyLarson opened #18 "number of people currently viewing an article"

[2017-11-21 10:18] Bouncey commented on #4
Not required

[2017-11-21 10:18] #4 closed

[2017-11-21 21:07] QuincyLarson opened #19 "Dates next to stories should be "N minutes ago" or "N hours ago" or "N days ago""

[2017-11-22 20:57] QuincyLarson opened #21 "Change license to BSD-3 + CC-BY-SA 4.0 (like on Guide repo)"

[2017-11-25 08:59] #6 closed

[2017-11-25 08:59] #19 closed

[2017-11-25 18:16] QuincyLarson commented on #19
@Bouncey Looks great! Thanks! Haven't seen it on "N minutes ago" or "N hours ago" but once we get some fresh articles in there we can see how it looks.

[2017-11-25 20:31] systimotic commented on #9
Looks like #21 is a duplicate of this now, and #24 has been created to solve this.

[2017-11-26 22:45] #9 closed

[2017-11-26 22:47] QuincyLarson commented on #21
@Bouncey Note that @raisedadead has set the licenses - BSD-3 for the code and CC-SA-BY-4.0 for the copy. In reality, we don't want to have CC on that because we don't own the copyrights. I'm making a follow-up PR that explains that all articles are copyright their authors.

[2017-11-28 16:41] Bouncey opened #26 "Replace youtube iframes"
[This gist](https://gist.github.com/Bouncey/2041e2b17e5400e4ff7d86a4006e0871) holds a list of stories that have been marked as containing embedded youtube videos.

We need to replace them with our own to maintain the resource. They currently do not work, I suspect this is because we do not have the correct origin.

What is required is that each iframe in the resource should be replaced with the co

[2017-12-02 04:03] #21 closed

[2017-12-04 06:41] QuincyLarson commented on #21
@raisedadead Awesome! Thanks for fixing this!

[2017-12-04 13:44] nikrb commented on #26
I'll help with this if I can.
I see the iframes in the md files. So you want the youtube vid embed link used for the iframe src?

I have the repo running locally (node v8.9.1) but if I click on an article I get a "gatsby.js development 404" page.
[code]

[2017-12-04 16:38] Bouncey commented on #26
Hi @nikrb I have just push a big update which moved all the pages into a new folder. Please be sure to `git pull --rebase upstream master` before going any further as you will likely get some merge conflicts if you raise a PR.

Thanks for taking this on, I don't know why you would get the `dev-404`, try the rebase and `yarn install` to see if it helps.

[2017-12-07 00:40] nikrb commented on #26
Hi @Bouncey did the pull rebase and re install.

missing "audio" and "video" directories gave errors, so created them.

Now I get the landing page, but when I click a story I see the following errors. I have tried `http://0.0.0.0:8000` and `localhost:8000`

# client
[code]

# server
[code]

[2017-12-09 11:46] nikrb commented on #26
How do I view the pages after I have updated them?
e.g. I have tried `localhost:8000//1-000-days-of-freecodecamp` for 1-000-days-of-freecodecamp.md but no luck

[2017-12-11 21:05] QuincyLarson commented on #26
@nikrb I would install httpster. Then you can run the command `httpster -p 3001` and open localhost:3001 to view the guide running locally.

[2017-12-17 22:07] nikrb commented on #26
sorry @QuincyLarson but I don't get it. when I open localhost:3001 I see a directory listing. I've tried clicking various things, but I just get the file text. Clicking on md files shows a download dialogue.

[2017-12-19 00:10] TheHollidayInn commented on #18
If you are looking into real time solutions: https://github.com/amark/gun has been pretty good for me so far.

[2017-12-19 18:11] QuincyLarson commented on #18
@TheHollidayInn have you ever seen this used with Google Analytics data? Is there an open source implementation you could point to? That could save us a lot of time.

[2017-12-19 18:53] TheHollidayInn commented on #18
Ah, I think using something like Gun would be closer to a homemade solution. It looks like Using the Google Analytics Real Time Data api to filter by the current page would work as well! I can create a PR for that if this issue is open.

[2017-12-19 21:52] QuincyLarson commented on #26
@nikrb Hm... try running `npm run dev` then you should be able to navigate to localhost:8000

[2017-12-19 23:30] nikrb commented on #26
@QuincyLarson yes that's the ticket, but how do I view, say, the article 1-000-days-of-freecodecamp, so I can check my updates to the md file?

[2017-12-20 06:40] QuincyLarson commented on #18
@TheHollidayInn Yes - if we can figure out a way to do this using the API without having to keep an intermediary database, that would be much simpler. We would welcome a PR for this, if you want to take a crack at it :)

[2017-12-20 06:44] QuincyLarson commented on #26
@nikrb You should be able to navigate to it. I'm not sure where that specific file is in the directory tree, but most of them should be accessible just by going to localhost:8000 and clicking around in the UI.

[2017-12-22 00:25] nikrb commented on #26
@QuincyLarson I have found the md files no problem.

Regarding clicking around the UI, there is a search bar. Tried searching for the "1000 days of freecodecamp", using single words and combinations, but it doesn't show up. e.g. "1000" shows articles about SQL in the main and "1000 days" returns no results.

The "Load More" button at the bottom of the landing page only seems to work once and I don

[2017-12-22 05:00] QuincyLarson commented on #26
@nikrb Yes - I tried that query too and I was unable to find the article using that. I think it may be a quirk with the search. I'll mention @Bouncey here, who implemented the search, in case he has some idea why that guide article isn't showing up in the search results.

[2017-12-22 08:12] Bouncey commented on #26
That article isn't in the search as News isn't ready for release yet. The search component is using the live version of search. You should get results for guide, youtube and challenge.

I am working on dockerising the search repo so it can be fun locally with minimal fuss, (without having to install and configure elasticsearch) this should help whilst news it in development, and for testing any se

[2017-12-22 13:44] nikrb commented on #26
hey guys, I tried the first few md files but got the error below. for example: `http://localhost:8000/1-000-days-of-freecodecamp` .
[code]

Note the path in the error message, `src/pages`. The files are now in `src/resource/text`. Seems unlikely, but is there a build step to generate the component js files?

I'll have a look through the code ... any suggestions appreciated :)

[2017-12-22 14:32] Bouncey commented on #26
Ah yes, sorry about that @nikrb, I was in the middle of refactoring the file structure, and I haven't gotten round to completing it yet. We should shelve this until I get it all working again, and I can ping you when it's good to go.

Being such a new project, things are pretty fluid as you can imagine.

[2017-12-22 19:07] nikrb commented on #26
yes of course @Bouncey no worries. *If* I can find the code locally I'll make a start on the md file changes.

[2017-12-22 23:19] nikrb commented on #26
yes of course @Bouncey no worries. *If* I can find the code locally I'll make a start on the md file changes.

[2017-12-22 23:49] TheHollidayInn commented on #18
Something to note, there is a limit to the analytics real time api (also it is in beta):
[code]

I may be wrong, but does this exceed your traffic expectations? The limit is pretty small for a real time approach.

[2017-12-23 04:38] QuincyLarson commented on #18
@TheHollidayInn We could get the activity for all the pages once every 10 seconds, and that would be less than 10,000 requests a day. That would be near-instantaneous enough for our features. We could then stream those data to the open pages.

Honestly, I have no idea how to do this, but I know that sites like lichess.org have really good real-time analytics on how many games are going on, how man

[2017-12-23 05:23] TheHollidayInn commented on #18
Sounds good! Let me start with that. Doing this is not too difficult. I can still try with google analytics, and it would probably work.

Another option is using socket.io, but we would need to a server to serve the websocket connection. I'm pretty sure gatsby is only static.

[2017-12-23 15:29] QuincyLarson commented on #18
@TheHollidayInn OK - great! Thanks for looking into this.

We might be able to add a component that isn't static. Kind of like how our full text search bar works even though it's embedded into a static Gatsby page.

[2017-12-23 15:51] TheHollidayInn commented on #18
Np! I just meant that it is static in the sense that it doesn't have a server (it still has interactive js).

[2017-12-23 23:56] QuincyLarson commented on #18
@TheHollidayInn OK - great. We're on the same page then :)

[2018-01-11 23:07] TheHollidayInn commented on #15
Should this be an integration with Github? Where we track views of a PR on from Github or is there a plan to show PR s in the news site?

[2018-01-13 20:42] QuincyLarson commented on #15
@TheHollidayInn I don't think many people will view the GitHub PR itself. I just thought GitHub would be a reliable place to notify contributors that their piece had been viewed a certain number of times. The views will be of the story itself, on news.freecodecamp.org.

[2018-01-13 23:41] TheHollidayInn commented on #15
Ah, I think I see what you mean. So the story is:

1. a user contributes an article via this github repo
2. a bot listens to listen events from news.freecodecamp.org
3. when a listen count gets to a certain point, post in the PR that the user contributed

Does that sound correct?

[2018-01-15 18:28] QuincyLarson commented on #15
@TheHollidayInn Yes - that sounds accurate!

There are a few things that we would probably need to build first, so I think this is some functionality we could add later. I'd hate for us build this out and then discover that an architecture change downstream undid our work on it. So I think we should add the "blocked" tag for now, and we can tackle this one later.

[2018-04-01 15:02] nikrb commented on #26
@Bouncey Hi, howze it going?
Thought I would update and take another look, see if I could do anything.
I see the following error when I run (node -v 8.9.1):
[code]
Am I missing something?

[2018-05-02 15:43] QuincyLarson opened #32 "Choose the 5 items that are going out in tomorrow's email blast."

[2018-05-02 15:44] QuincyLarson opened #34 "news.freecodecamp.org needs to redirect to this."

[2018-05-02 15:45] QuincyLarson opened #35 "Bare minimum navigation - freeCodeCamp logo and a link to the index view. and a donate button"

[2018-05-02 15:45] QuincyLarson opened #36 "Investiage Lambda for counting views."

[2018-05-02 15:46] QuincyLarson opened #37 "Make sure styling looks good, text column width looks right, and code formatting looks good."

[2018-05-02 16:10] QuincyLarson opened #38 "Create topics on forum and have a "discuss on the forum" link"

[2021-11-23 09:32] raisedadead opened #64 "Set defaults in the config"
Need to audit set sane defaults in https://github.com/freeCodeCamp/news/tree/main/config once we go full JAMStack.

[2021-12-01 07:20] scissorsneedfoodtoo opened #69 "Improve Testing"
Currently the Cypress tests use local JSON page and post files sourced from the English Ghost instance (Content API, v3).

Going forward, we'll want to set up a Docker instance of Ghost with the following:
- Articles, tags, and at least two authors (one for regular posts, another to act as a translator for a later feature)
- A preconfigured Content API key for 11ty to use during test builds

Once

[2021-12-01 07:27] scissorsneedfoodtoo opened #70 "Ensure RSS feeds work just as the current Ghost version"
Currently to view RSS feeds on the landing, author, and tag pages, you need to go to `.../rss.xml` directly, rather than `.../rss` like on Ghost.

We'll need a way to serve `rss.xml` files when readers visit `.../rss`, either on the NGINX level, or with Serve.

[2021-12-01 07:30] scissorsneedfoodtoo opened #71 "Ensure post & page redirects work just as the current Ghost version"
Ghost has been handling the redirects for us, which we've been tracking in the [Ghost Config repo](https://github.com/freeCodeCamp/ghost-config).

We'll need a way to handle these redirects, too, either at the NGINX level, or with Serve.

[2021-12-06 15:23] raisedadead opened #76 "Add trailing slash to `proxy_pass` config"
[code]

[2021-12-07 13:28] raisedadead commented on #71
The infra for this I believe is ready now, the idea is we are going to build a container for each publication. The configs for each language will be available in [`docker-config`](https://github.com/freeCodeCamp/news/tree/main/docker-config)

Mind adding some and we can test it out in the next deployment?

To be clear, there will probably be a bit of duplication because we need a different `serve.

[2021-12-07 21:07] raisedadead opened #82 "Remove NGINX Cache to prevent stale content"
Currently, we use the inbuilt caching features of NGINX on our web servers. These work perfectly fine because we have Ghost doing the invalidation (when NGINX checks for updated content) for a given page. Then on Cloudflare's dynamic caches handle the rest, and the setup is decently good.

But with the new SSG based news, we have all the paged pre-rendered and readily available. This brings in the

[2021-12-09 05:59] raisedadead commented on #71
I think some redirects like RSS etc, are working. But not everything is.

[2021-12-09 06:03] raisedadead commented on #71
Not sure, why these do not work:

https://github.com/freeCodeCamp/news/blob/65985ddfc8c015545d7e618837d70fffa16b04c9/docker-config/italian/serve.json#L7-L10

--

About these:

https://github.com/freeCodeCamp/news/blob/65985ddfc8c015545d7e618837d70fffa16b04c9/docker-config/italian/serve.json#L19-L26

Is the idea to show users a localized version of the about, etc.?

[2021-12-09 06:43] scissorsneedfoodtoo commented on #71
I'm not sure why those first ones don't work either. It may be better to use [routing segments](https://github.com/vercel/serve-handler#rewrites-array) that are mentioned in the docs. Maybe something like:

[code]

For the other redirects, I just wanted to confirm that those were all working. We could point to localized versions if those exist, or to the English versions of the articles for ones t

[2021-12-09 11:43] scissorsneedfoodtoo commented on #70
The rewrite for the main RSS is working, but the ones for the [author](https://www.freecodecamp.dev/italian/news/author/alessia/rss.xml) and [tag](https://www.freecodecamp.dev/italian/news/tag/git/rss.xml) pages don't.

I suspect this is because Serve is using `/news` as a base path, and doesn't expect longer possible paths for this rewrite.

[2021-12-17 12:30] raisedadead commented on #71
I have landed the linked PR & deployed it to staging. @scissorsneedfoodtoo can you confirm this works as intended and can be closed?

[2021-12-17 12:31] raisedadead commented on #70
I have landed the linked PR & deployed it to staging. @scissorsneedfoodtoo can you confirm this works as intended and can be closed?

[2021-12-20 11:01] scissorsneedfoodtoo commented on #71
Awesome, thanks @raisedadead.

I did some testing previously and we should be able to handle all the current Ghost redirects with Serve. The only hangup might be if we need to do something fancy with regex, though I don't see that happening very often -- most of the current redirects are for the migrated articles, or to point to another article for some reason or another.

Just double checked and

[2021-12-20 11:01] #71 closed, assigned to nobody

[2021-12-20 11:05] scissorsneedfoodtoo commented on #70
Thanks for taking care of this too, @raisedadead.

Just checked on the staging Italian News site and the rewrites for the RSS feeds work as expected:
* https://www.freecodecamp.dev/italian/news/rss
* https://www.freecodecamp.dev/italian/news/author/alessia/rss
* https://www.freecodecamp.dev/italian/news/tag/freecodecamp/rss

Took a quick look at the other languages and the rewrites for those RSS f

[2021-12-20 11:05] #70 closed, assigned to raisedadead

[2021-12-27 15:47] QuincyLarson opened #101 "Don't show top image on AMP version of article"
For the mobile version of freeCodeCamp publication articles, we don't show the top image. These images are usually cosmetic.

This said, the image still shows up on the AMP version of the article. We should remove this.

[2021-12-29 06:44] #101 closed, assigned to nobody

[2021-12-30 18:58] raisedadead opened #115 "Build - Prevent all keys required at all times"
See: https://github.com/freeCodeCamp/news/runs/4669071805?check_suite_focus=true#step:5:48, this build was specifically for English but it needed all the other keys to be defined.

[2021-12-31 11:38] scissorsneedfoodtoo commented on #115
Unfortunately I don't think we'll be able to do this with the upcoming author / translator feature, at least not without some possible slowdown during the build process.

Since all the current translated articles in the non-English Ghost instances are from English-another language, it would be possible just to have English API keys for every build (English, Chinese, Spanish, etc.). Then while the

[2021-12-31 12:35] raisedadead commented on #115
Thanks for the clarification, we do not need to overcomplicate things. I was more concerned about setting up unnecessary keys. But looks like these are (or will be) used.

Closing.

[2021-12-31 12:35] #115 closed, assigned to scissorsneedfoodtoo

[2021-12-31 12:46] scissorsneedfoodtoo commented on #115
No problem, and thanks for pointing this out. It's a good reminder to actually finish that feature :)

[2022-01-03 06:41] #76 closed, assigned to raisedadead

[2022-01-03 16:09] raisedadead commented on #82
I have decided that we need to observe and bust the cache with either an varnish implementation or something else.

[2022-01-03 16:09] #82 closed, assigned to raisedadead

[2022-01-03 16:10] raisedadead commented on #64
@scissorsneedfoodtoo can you confirm that there are reasonable defaults in place to prevent failed builds?

[2022-01-04 15:28] raisedadead opened #126 "Use a different build tag than current"
Currently, we are tagging the images with the SHA of the latest commit & additionally a friendly tag of `latest`. Should we move to time stamp-based tags, because the images can now have updated "content" because we build the latest articles but the "code" remains the same?

[2022-01-04 17:59] raisedadead commented on #126
Updated the configs like so:

Localized: `$(git rev-parse --short HEAD)-$(date +%Y%m%d)-$(date +%H%M)`, that genrates: `ae0ed57-20220104-1752`
English: `$(Build.BuildNumber)`, that generates: `news-build-20220107-07`

[2022-01-05 06:22] scissorsneedfoodtoo commented on #64
@raisedadead, yes, I just did some tests and the defaults in the config file should be enough to prevent failed builds. Did some test builds and missing values (Algolia and AdSense keys, posts per page, etc.) won't result in failed builds.

Once the original  author / translator feature is decoupled from the actual build process, the only strict requirements we'll have are `LOCALE_FOR_UI` and the

[2022-01-05 06:22] #64 closed, assigned to nobody

[2022-01-07 12:46] #126 closed, assigned to raisedadead

[2022-01-07 13:01] raisedadead opened #133 "Self-hosted runners on GitHub Actions loses connection before job completion"
We want to build and deploy news builds with GitHub Actions and self-hosted runners. This is so that we can guarantee that runners are available and we do not wait on GitHub to provision free runners, which we use for other things like CI tests, etc.

We have implemented such a setup, with our localized versions of the JAMStack news. That is, we use auto-scalable self-hosted runners on AWS (spot i

[2022-01-24 15:20] raisedadead commented on #69
@scissorsneedfoodtoo and I discussed that we would start by using pre-production instances of the containers (staging platform) that we have built already. We would essentially have an interim step between the build and deployments where we can run Cypress tests on the staging before the deployments happen on production.

Kris will be working on the tests, and once it's ready, we can hash out the

[2022-02-22 04:02] raisedadead opened #198 "Audit the RTL layout with the Arabic articles"
@islamh-mahfouz, I was wondering if you could kindly audit the RTL layout with the Arabic articles and create an umbrella issue so we could address all of the inconsistencies together.

Here is what we have came across so far:
- The word break issue explained above.
- Twitter button tweets left to right titles.

_Originally posted by @ahmadabdolsaheb in https://github.com/freeCodeCamp/news/issues/

[2022-02-22 04:04] raisedadead commented on #198
_Originally posted by @islamh-mahfouz in https://github.com/freeCodeCamp/news/pull/194#issuecomment-1047124354_

[2022-02-23 05:00] scissorsneedfoodtoo commented on #198
@raisedadead, I believe the problem in the articles you linked to above are due to the Arabic versions being written in markdown. There's no line break between some of the text and images, causing the images to be nested within the paragraphs and stretching the text out past the main container.

I'll go in and fix that now. There may be some instances in other articles, but they'll need to be fixe

[2022-02-24 11:34] ahmaxed commented on #198
@scissorsneedfoodtoo, did not have much luck with changing the `overflow-wrap: break-word` for the word break, but the following should resolve the issue:
[code]

[2022-02-24 14:18] ahmaxed commented on #198
There does not seem to be straight forward way to add text direction to our twitter intent button implementation.
https://stackoverflow.com/questions/71253314/how-to-create-a-rtl-right-to-left-tweet-button

I will look further into parsing the title string and reordering.

Meanwhile, I think we can move forward publicizing the Arabic publication since the twitter button does not seem to be a block

[2022-02-24 18:18] islamh-mahfouz commented on #198
thank you all very much for your efforts ! i will publicize this tomorrow through twitter :)

[2022-02-25 04:54] scissorsneedfoodtoo commented on #198
Awesome, thanks for digging into this. You're right, `overflow-wrap: break-word` doesn't appear to work there. I'll take a look at your PR now.

[2022-02-25 16:10] X7md commented on #198
Can add force `dir="ltr"` attr with `<code>` snippet to fix inline code?:

![image](https://user-images.githubusercontent.com/54203033/155748048-ef508cf9-eda4-4dde-a367-76a9056cd478.png)

I already do that in my blog and I made rehype plug-in to add it when I parsing my markdown file.
https://github.com/X7md/rehype-code-ltr

[2022-02-25 16:34] X7md commented on #198
What about add Arabic word at first of the tweet, something like:
[code]

![image](https://user-images.githubusercontent.com/54203033/155751313-a072f057-2f31-47fe-b723-c534c84ef2e6.png)

[2022-02-25 16:42] X7md commented on #198
Preview:

[مشاركة المقالة على تغريدة ](https://twitter.com/intent/tweet?text=%D9%85%D9%82%D8%A7%D9%84%D8%A9%3A%20JSON%20Stringify%20-%20%D9%83%D9%8A%D9%81%D9%8A%D8%A9%20%D8%AA%D8%AD%D9%84%D9%8A%D9%84%20%D9%83%D8%A7%D8%A6%D9%86%20JSON%20%D8%A8%D8%A7%D8%B3%D8%AA%D8%AE%D8%AF%D8%A7%D9%85%20JS%20%0A%0A%20https%3A%2F%2Fwww.freecodecamp.org%2Farabic%2Fnews%2Fjson-sstr-kyfy-thlyl-kyn-json-bstkhdm-js%2F)

[2022-02-27 18:02] X7md commented on #198
Fix inline Code Snippet direction by CSS.

PR: #206

[2022-02-28 10:20] ahmaxed commented on #198
@X7md, thanks for looking into this issue.

@islamh-mahfouz, the initial text seems altered as @scissorsneedfoodtoo mentioned in a[ related discussion](https://github.com/freeCodeCamp/news/pull/194#issuecomment-1044138230).

Could you check if it needs to be changed to its original direction or not?

If that is the case, we should prioritize auditing articles for inconsistencies. Then we could loo

[2022-02-28 10:54] islamh-mahfouz commented on #198
@ahmadabdolsaheb i will get to the bottom of this 👍

[2022-03-10 07:35] scissorsneedfoodtoo opened #219 "Source Footer Data From a Single Location"
Continuing the discussion from #218, we want to move to a model of having all the footer data for each locale in a single location (probably the CDN) as YAML, and use that to build the footers for News, Learn, the forum, and so on.

11ty can't source YAML by default, but we should be able to fetch the correct YAML file at the beginning of the build process, convert it into a JS object with the [JS

[2022-03-14 09:07] ojeytonwilliams commented on #219
@scissorsneedfoodtoo if we're going to download the footer data before starting the 11ty build, i18next-fs-backend should be able to handle yaml without any extra work.

[2022-03-14 09:45] scissorsneedfoodtoo commented on #219
Oh wow, I didn't realize `i18next-fs-backend` could handle that. I just assumed that it only works with local files.

I'll give it a shot now. Loading the footer YAML with `i18next-fs-backend` will make things easier, and will mean that the footer code for News and Learn can remain pretty similar.

[2022-03-14 10:22] ojeytonwilliams commented on #219
That's my understanding, too. I'm not sure it makes sense to use `i18next-fs-backend` when we're having to pull the data from the CDN. However, if we made it a two step process 1) download from CDN to files 2) source with `i18next-fs-backend`, then the second step is fine with yaml.

[2022-03-14 11:13] scissorsneedfoodtoo commented on #219
That makes sense.

If we don't want to download the files for each build, and don't mind adding a couple more dev packages, it seems like we can use [`i18next-chained-backend`](https://github.com/i18next/i18next-chained-backend) and [`i18next-http-backend`](https://github.com/i18next/i18next-http-backend) to do something like this:

[code]

The second instance of `loadPath` will need to be replace

[2022-03-14 11:42] ojeytonwilliams commented on #219
I'm not 100% convinced we want a fallback.  If the download fails for whatever reason, that'll just collapse the pipeline.  That's annoying, but we can just run it again.

If we had a fallback, we'd not realise that the data was stale and I don't think that's what we want.

[2022-03-14 12:44] scissorsneedfoodtoo commented on #219
That's true. I don't think it's a good idea to move all of the files to the CDN, just `trending`.

I guess fallback isn't the best way to describe it. It is a fallback of sorts, but I think it's really just for i18next, where if it doesn't find `trending` as a local file, it tries to use the other backend to fetch the file. If that fails as well, then it shows the keys instead.

Either way, the co

[2022-03-15 11:28] ojeytonwilliams commented on #219
I might be missing something, but I feel like either we want the cdn to be the single source of truth for the trending guides or we just want to make it easy to copy.

If we go the cdn as truth route, then the build pipelines should all read from that source and fail if they can't reach it.  Ideally after a number of tries, to avoid flakiness.

Either way, it seems like fallbacks would be unhelpfu

[2022-03-16 11:22] islamh-mahfouz commented on #198
@ahmadabdolsaheb  @scissorsneedfoodtoo  after digging into this, the problem seems to be related to `dir="ltr"` being applied to code blocks which are wrapped in `pre` tags, but not being applied to `inline code` that is contained within arabic text wrapped in just  `p` tags (or other tags like headings), being displayed in `rtl`.

as for the snippets shared above by **X7md**, this just needs manu

[2022-03-16 12:02] islamh-mahfouz commented on #198
there is also an issue with `inline code breaking` as such

<img width="1670" alt="before" src="https://user-images.githubusercontent.com/99178533/158585524-da466c7e-a5d4-4030-a2aa-9251f5ec1d5c.png">

which i believe can be fixed by adding `white-space: nowrap`

<img width="1675" alt="after" src="https://user-images.githubusercontent.com/99178533/158585591-b48aeded-6d87-448d-8b50-deb8e3d8100c.png"

[2022-03-16 14:33] islamh-mahfouz commented on #198
i have reviewed all the published articles and edited the inconsistencies regarding inline code within `paragraph` or `heading` tags and `line breaks` around `images`, took about 5 hours to review and edit all articles, but now with applying the above mentioned fixes, all should be good and consistent

[2022-03-17 11:33] scissorsneedfoodtoo commented on #219
That all makes sense. That's along the lines of what I'm thinking, too.

I played around with this a bit more today and think I've got a working solution that should work here and on Learn. I'll go ahead and open a PR now.

[2022-03-21 08:18] scissorsneedfoodtoo commented on #198
Wow, thank you for your thorough investigation and for fixing all of those articles, @islamh-mahfouz. All of your findings will help not only the Arabic publication, but any future publications that also use the RTL layout.

Also, thank you for that method of fixing the layout for RTL Twitter messages, @X7md. Adding a bit of RTL text to the beginning of each Tweet seems to fix the issue, and sets

[2022-03-21 09:01] scissorsneedfoodtoo commented on #219
Thanks again for all the great discussion here @ojeytonwilliams :) Hopefully this method of sourcing data for the footer will help with future updates.

If you think this looks good, I can work on porting this implementation to Learn.

Will close this issue for now (via https://github.com/freeCodeCamp/news/pull/229).

[2022-03-21 09:01] #219 closed, assigned to nobody

[2022-03-31 17:59] ghost opened #252 "Update the copyright disclaimer on LICENSE and README.md to 2022"

[2022-04-21 10:53] thisiskaransgit commented on #252
I'll do the work

[2022-04-22 08:43] scissorsneedfoodtoo commented on #252
Thank you for opening this issue.

We've reviewed the pull requests related to this issue and decided not to merge them. See #272 for more details about why.

Please read our [Guidelines for Contributing](https://contribute.freecodecamp.org/) for more.

Thank you, and happy coding.

[2022-04-22 08:43] #252 closed, assigned to nobody

[2022-05-30 08:56] raisedadead opened #320 "Create extensible serve configs"
The `serve` config we currently have is a lot of duplication that is not scalable. Instead, we need something that is extensible.

I intend to keep config more modular with this.

[2022-05-30 08:57] raisedadead commented on #320
Where are these used?

[code]

[2022-05-31 03:04] scissorsneedfoodtoo commented on #320
@raisedadead, awesome, that sounds great. Would be good to reorganize things and to cut down on duplication as much as possible.

Those commands are used to start and stop the three Dockerized Ghost instances for the Cypress tests. Currently only the `start:containers` command is being using in `/.github/workflows/cypress.yml`. The `stop:containers` command is for convenience when I want to spin t

[2022-06-09 10:56] #320 closed, assigned to raisedadead

[2022-06-28 16:09] jeremylt opened #877 "Menu Button on News Platform"
### Describe the Issue

An idea was proposed on the Discord.

Right now the news platform only has a link to the Forum, while the learn platform has a drop down menu with links to donate, curriculum, forum, news, radio, and language options. It might be nice to offer a similar set of links on the news platform.

### Affected Page

https://www.freecodecamp.org/news/

### Steps to Reproduce

N/A

##

[2022-06-28 16:12] SaintPeter commented on #877
The other day I was searching for a specific challenge and I got a ton of forum responses.  I clicked through and was deeply annoyed that there was no button to take me to the main site/curriculum.  This would be a good change.

[2022-06-28 16:18] Sboonny commented on #877
In a different issue, raisedadead mentioned they discussed adding menu in the past and it would be unlikely to add menu, but this discussion had a different point.

Here is the comment for context: https://github.com/freeCodeCamp/freeCodeCamp/issues/46569#issuecomment-1160406684

[2022-06-28 21:32] iamhassaan commented on #877
I can see there is a link to the "forum" and "donation" on the news page. However, there should be a link to take users to the main site as mentioned by @SaintPeter

[2022-06-30 12:31] spiderxp3 commented on #877
I am interested to work on that.

[2022-07-06 12:37] ahmaxed commented on #877
@QuincyLarson, I was wondering if we should bring back the menu button on news which would include on search mobile, links to the forum and lean, etc.

[2022-08-08 14:28] raisedadead opened #383 "Fail building a site if Ghost is set to private"

[2022-08-08 14:32] raisedadead commented on #198
Is this still an issue?

[2022-08-09 12:36] ahmaxed commented on #198
The twitter card issue still persists. @scissorsneedfoodtoo, @X7md suggested should I put together a translation list of the word `article:` and and add it to the beginning of RTL twitter cards?

[2022-08-11 07:46] scissorsneedfoodtoo commented on #198
Thanks for the reminder about this. I worked pretty closely with Zaira on the Urdu publication on this, and part of the tweet thanking authors and translators render from right to left correctly.

But the line with the article title itself sometimes renders from LTR if the title starts with a non-RTL character.

Starting all of those lines with `article: ` would be a good way around that.

It's pr

[2022-08-11 20:31] X7md commented on #198
I found this lib https://github.com/wooorm/direction, I think it's maybe will be helpful to detect `RTL/LTR` so can chose if its need to add workaround for RTL or not...

Demo:
https://wooorm.com/direction/

[2022-08-28 21:02] josamontiel opened #492 "No search bar on mobile"
**Looking forward for reporting a security issue:**
Please report security issues by following our security policy: `https://contribute.freecodecamp.org/#/security`

**Describe the bug**
Browsing on the FreeCodecamp news page on mobile does not allow for searching. There is no search bar to filter down.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [FreeCodeCamp News Page](https://ww

[2022-08-29 14:09] raisedadead commented on #492
@ahmadabdolsaheb triage this when you get a chance.

[2022-08-30 08:48] ahmaxed commented on #492
@QuincyLarson, should we bring back the toggle menu button and place it to the right of the donate button?

[2022-08-30 15:40] texas2010 commented on #492
ah yes, somehow i forget to ask about this. sometimes I go to news page and want to find something but cant use search in the mobile.  so more like I have to wait to come back to home to use a computer to find it. 🤔

[2022-09-01 11:35] josamontiel commented on #492
@texas2010 That is exactly the problem I run into, I want to read articles on the go and have a terrible time finding them on mobile.

I guess its a matter of where to put it, it's already pretty cluttered at the top on mobile.

Maybe a magnifying icon that drops down a search bar, maybe make sure it collapses when not in use to not add to the clutter?

[2022-09-02 09:35] Sembauke commented on #492
Hey  @josamontiel,

If you use an Android device, I recommend using the freeCodeCamp app. To search articles on mobile in the meantime.

[2022-09-16 03:50] moT01 commented on #492
I feel like there's not enough buttons to need a menu button. I would collapse things in a way so that everything shows in a mobile/narrow window - similar to how the search goes below the nav on /learn when you have a narrow window.

Maybe:
| Logo | Donate |
|:-:|:-:|
| Search | Forum |

[2022-09-26 15:20] raisedadead commented on #383
Key @scissorsneedfoodtoo, I think this issue is handled - that is even if Ghost is set to private the builds still work fine? Correct?

[2022-09-27 06:02] scissorsneedfoodtoo commented on #383
Hey @raisedadead, yes, this is no longer an issue. We can do test builds for sites if we add files / strings similar to [this PR](https://github.com/freeCodeCamp/news/pull/432), and also [add a YAML file for trending text and links](https://github.com/freeCodeCamp/cdn/pull/154) to the CDN repo.

[2022-09-27 06:41] #383 closed, assigned to nobody

[2022-09-27 06:41] scissorsneedfoodtoo opened #438 "Sitemaps Not Getting Fetched During Build"
Sitemaps aren't fetched reliably during the build process.

Here are some examples from English News:

- Index: https://www.freecodecamp.org/news/sitemap.xml
- Pages: https://www.freecodecamp.org/news/sitemap-pages.xml
- Posts: https://www.freecodecamp.org/news/sitemap-posts.xml
- Authors: https://www.freecodecamp.org/news/sitemap-authors.xml
- Tags: https://www.freecodecamp.org/news/sitemap-tags.

[2022-09-28 09:06] josamontiel commented on #492
@Sembauke I'm on iOS unfortunately. I do have a pixel that I use from time to time but my daily is an iPhone.

@moT01 I agree, when we're on the news page, we really just wanna look up articles or even by categories like #react or #java etc.

[2022-09-28 21:05] QuincyLarson commented on #877
@ahmadabdolsaheb I am fine with experimenting with having the menu button on /news. I suspect very few people use that donate button on /news, and it might be better served as a "sign in" button. I recommend you first talk with @oriooctopus about some of his ideas for the menu and language selection button first, so we can roll this out consistently across both the forum, /news, and /learn.

[2022-09-29 13:09] ahmaxed commented on #877
Thanks for the green light Quincy. We are getting around 200 clicks a day on that button.

We could also explore placing a menu button next to the navigation as a next step.

[2022-09-29 15:49] majestic-owl448 opened #444 "search placeholder should not pass through crowdin"
_Originally posted by @scissorsneedfoodtoo in https://github.com/freeCodeCamp/news/issues/441#issuecomment-1261746170_

[2022-09-30 11:15] ahmaxed commented on #877
Related https://github.com/freeCodeCamp/news/issues/492

[2022-09-30 20:37] naomi-lgbt commented on #444
I discussed this with @scissorsneedfoodtoo in a meeting last night, and have proposed this implementation:

- Pull the numbers out into a separate config object, so we can set a number for each language directly.
- Update the existing translation string to interpolate the number as a variable.
- Add logic that checks if the number is 0, if so display a new "Search articles" translation string inst

[2022-10-05 10:43] majestic-owl448 commented on #444
Is any of you two going to work on this specifically? or is this for anyone to take?

[2022-10-05 14:08] naomi-lgbt commented on #444
I think Kris was spiking on it.

[2022-10-11 11:17] #438 closed, assigned to scissorsneedfoodtoo

[2022-10-15 09:46] Sboonny opened #477 "Strong characters breaks English letter structure in RTL language"
**Describe the bug**
If someone type (C++) in RTL languages the renderer markdown will be (++C). this harms trying to duplicate functions in headers, as the string (range()) will result (()range).

And this affect tags as well as shown in the picture below

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [arabic/news/](https://www.freecodecamp.org/arabic/news)

**Expected behavior**
in

[2022-10-17 12:02] #477 closed, assigned to nobody

[2022-10-19 09:40] zairahira commented on #198
There are a few hashtag alignment issues in Arabic and Urdu news as shown in the images below:

![image](https://user-images.githubusercontent.com/33151350/196654366-39134b01-610d-451a-b86b-af45188a4348.png)

![image](https://user-images.githubusercontent.com/33151350/196654023-e61ae56d-7c1d-47c2-b438-824961098c8e.png)

[2022-11-09 15:54] sidemt commented on #492
This is in discussion and @ahmadabdolsaheb is still finalizing the UX

[2022-11-15 07:56] ahmaxed opened #571 "Listing the translated versions of each article on news."
### Is your feature request related to a problem? Please describe.

Based on a discussion with a few of our language Leads, It would be great to have a list of translated versions of each article to increase awareness to our i18n efforts and allow users to read articles in their preferred language.

### Describe the solution you'd like

A similar feature could be found on wikipedia:

<img width="1

[2022-11-21 04:32] scissorsneedfoodtoo commented on #571
Hey @ahmadabdolsaheb, thanks for your patience.

I haven't had a whole lot of time to think about this, but it should be possible to build this feature. Then editors could manage it manually, or we could try to automate most of it during the build process.

Off the top of my head, we could set up either a remote database (Mongo Atlas or something similar), or even a Dockerized DB if automated.

Th

[2022-11-22 08:28] ahmaxed commented on #571
@RafaelDavisH, I was wondering if you could discuss this with the i18n team and get back to us the the team's preferences?